.boton-contenedor {
  margin: 0.1rem;
  height: 60px;
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  background-color: rgb(227, 238, 249);
  color: black;
  cursor: pointer;
  user-select: none;
}

.boton-contenedor:hover {
  background-color: rgb(210, 210, 210);
}
